// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}
